/*personal reset*/
body { overflow: hidden; }
h1{font-size: 3rem !important;}
h2{font-size: 2.5rem !important;}
h3{font-size: 2rem !important;}
h4{font-size: 1.5rem !important;}
h5{font-size: 1rem !important;}

input,textarea { border-radius: 0 !important; }


/*fixed menu webpage*/
#fixed-menu { display: none; }
#fixed-menu .mobile.item { display: none; }

#header
{
	background: url('../img/header.jpg') no-repeat top center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 100vh !important;
}

#logo { margin-top: 25vh;}
#header .ui.header { display: block;}
#header .ui.header span { position: relative; }
#header .ui.header span li { position: absolute; list-style: none; display: inline-block;}


#services, 
#services .stackable.grid .column, 
#feedbacks, 
#aboutus, 
#contactus
{
	padding-top: 8rem ;
	padding-bottom: 8rem ;
}


#feedbacks, #contactus { background: url('../img/building1.jpg') no-repeat center center fixed; }
	.testimonial-holder { position: relative; min-height: 25rem; }
	#testimonial { padding-top: 5rem ; position: absolute; border: none !important;}

#aboutus p
{
	margin-top: 3rem;
}


/*dashboard style*/
body.admin { background: #e1e1e1; }
body.admin .content { margin-left: 15rem; }
body.admin .ui.segment, table{ border-radius: 0 !important; }

#dashboard-mainmenu { border-radius: 0;}



@media only screen and (max-width: 700px){
	
#services, 
#services .stackable.grid .column, 
#feedbacks, 
#aboutus, 
#contactus
{
	padding-top: 5rem ;
	padding-bottom: 5rem ;
}

#fixed-menu .mobile.item { display: none; }
#logo { margin-top: 10vh;}
.testimonial-holder { min-height: 100vh; }

}