/*personal reset*/

h1{font-size: 3rem !important;}
h2{font-size: 2.5rem !important;}
h3{font-size: 2rem !important;}
h4{font-size: 1.5rem !important;}
h5{font-size: 1rem !important;}

html { background: #f1f1f1; }
input,textarea { border-radius: 0 !important; }

.borderless
{
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
}

#header
{
	background: url('../img/header.jpg') no-repeat top center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 100% !important;
}

.mobile.item { display: none !important; }

	#logo { margin-top: 5rem;}
	#header .ui.header { display: block;}
	#header .ui.header span { position: relative; }
	#header .ui.header span li { position: absolute; list-style: none; display: inline-block;}



#feedbacks
{
	padding: 5rem 0;
	height: 100%;
}

#services, #services .stackable.grid .column, #aboutus, #contactus
{
	padding-top: 5rem ;
	padding-bottom: 6rem;
}


#feedbacks, #contactus { background: url('../img/building1.jpg') no-repeat center center fixed; }
	.testimonial-holder { position: relative; }
	#testimonial { padding-top: 5rem ; position: absolute;}









@media only screen and (max-width: 480px){
	html { font-size: 65% !important; }

	#mainmenu .item { display: none;}
	.mobile.item { display: inline-block !important; }

}