h1{font-size: 4rem !important;}
h2{font-size: 3rem !important;}
h3{font-size: 2rem !important;}
h4{font-size: 1.5rem !important;}
h5{font-size: 1rem !important;}

.borderless
{
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
}

#header-bg
{
	background: url('../img/header.jpg') no-repeat top center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 100%;
}

#header-bg h1.ui.header
{
	margin-top: 5rem;
	font-size: 2.6em;
}

#services
{
	padding: 6rem 0;
	min-height: 100%;
}
	#services .stackable.grid
	{
		margin: 6rem 0;
	}

#aboutus { background: url('../img/building1.jpg') no-repeat center center; }
#aboutus #whoweare, #aboutus #testimonial { padding-top: 6rem ; padding-bottom: 6rem ; }












@media only screen and (min-width: 240px){
	h1,h2,h3,h4,h5,h6
	{
		font-size: 60%;*/
	}
}

@media only screen and (min-width: 360px){
	h1,h2,h3,h4,h5,h6
	{
		font-size: 80%;
	}
}

@media only screen and (min-width: 480px){
	h1,h2,h3,h4,h5,h6
	{
		font-size: 90%;
	}
}